html,
body,
* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  /* color palette */
  --deep-orange: #f65e5d;
  --danger: #F44336;
  --amber: #ffbc47;
  --indigo: #1d2d60;
  --white: #f0f0f0;
  --light-blue: #40cee2;
  --dark-grey: #212121;
  --bold-font: 700;
}

.color__deep__orange {
  color: var(--deep-orange);
}

.color__amber {
  color: var(--amber);
}

.color__indigo {
  color: var(--indigo);
}

.color__light__blue {
  color: var(--light-blue);
}

.font__bold {
  font-weight: 700;
}

.margin__zero {
  margin: 0px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.comming-soon-page {
  height: calc(50vh - 64px);
  margin-top: 64px;
  background-color: var(--dark-grey);
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
}

.page-title {
  color: var(--light-blue);
  font-weight: 700;
  text-transform: uppercase;
}

.comming-soon {
  color: var(--light-blue);
  font-weight: 600;
}
